/* Variables */
$gray: #eee;
$whiteColor: #fff;
$headerColor:#2196f3;
$lightBlue:lightblue;
$black:#000;
/* Mixin */
@mixin Width {
    width: 620px;
}
@mixin bg_blackToTransparent{
    background-image: linear-gradient(to top, #0000009e, #0000009e, #0000009e, #0000009e, #ffffff00);
}
@mixin bg_moreExplore{
    background-image: linear-gradient(to left top, #d7e7ff, #b7f2ff, #a0fdfa, #b1ffd3, #e4ffa7);
}

/* Custom Style */
body{
    background-color:$gray;
    main {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 2rem 5rem;
    }
}
// Header Css
header#header{
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    @include Width();
    color: white;
    nav#nav-menu{
        background-color:$headerColor;
        color:$whiteColor;
        display: flex;
        padding: 10px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .account-icon{
        font-size: 1.3rem;
    }
    .slider{
        min-height: 280px;
        background-color: $lightBlue;
        background-image: url(assets/img/hero.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: baseline;
        h4{
            padding: 5px;
            padding: 12px;
            font-size: 2rem;
        }
        span{
            background-color: $whiteColor;
            color: $black;
            border-radius: 10px 100px / 120px;
            padding: 1rem 4rem;
            margin-left: 50px;
            font-size: 1.5rem;
        }
    }
}
//Main Section
section#main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: $whiteColor;
    @include Width();
    h3{
        padding: 8px;
        font-size: 1.5rem
    }
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        li{
            margin: 1rem;
            position: relative;
            img{
                width: 180px;
                height: 140px;
                
                
            }
            span{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                color: white;
                font-size: 1.4rem;
                padding: 0.3rem;
                @include bg_blackToTransparent();
            }
        }
    }
    .popular-post{
        margin: 1rem 0.1rem;
        position: relative;
        img{
            width: 580px;
        }
        .post-detile{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            color: $whiteColor;
            padding: 2rem 1rem 2rem 1rem;
            @include bg_blackToTransparent();
            header{
                font-weight: bold;
                font-size: 2.7rem;
                font-family: Roboto;
            }
            p{
                font-size: 1.4rem;
            }
            span{
                border: 1px solid white;
                padding: 1rem;
                border-radius: 50px;
                background-color: white;
                color: black;
                font-weight: bold;
                position: absolute;
                visibility: hidden;
                

            }

        }

    }

}
//More Explore Section
section#more-explore{
    @include Width();
    @include bg_moreExplore();
    color:$black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    h3{
        font-family: Rosario;
        font-weight: bold;
        padding: 8px;
        font-size: 1.5rem
    }

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: stretch;
            li{
                margin: 0.6rem;
                position: relative;
                background-color: $whiteColor;
                width: 194px;
                img{
                    width: 100%;
                    height: 140px;
                }
                header{
                    text-align: center;
                    padding: 1rem;
                    font-weight: bold;
                }
                p{
                    text-align: center;
                    padding: 0.2rem 1rem 1rem 1rem;
                    font-weight: bold;
                }
                span{
                    color: black;
                    position: absolute;
                    right: 0;
                    padding: 2px;
                    background-color: white;
                    border-radius: 50px;
                    margin: 4px;
                    width: 14px;
                    height: 15px;
                }
            }
        }
    }
// Footer Section
footer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    padding:1rem;
    background-color: $whiteColor;
    @include Width();
    hr{
        margin-top: 15px;
    }
    .footer-menu{
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            li{
                list-style: none;
                padding: 1rem 0.4rem;
                i{
                    padding-right: 1px;
                }
            }
        }
        .footer-contact-us{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: stretch;
            align-content: center;
        }
    }
}