/* Variables */
/* Mixin */
/* Custom Style */
body {
  background-color: #eee;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 5rem;
}

header#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 620px;
  color: white;
}

header#header nav#nav-menu {
  background-color: #2196f3;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header#header .account-icon {
  font-size: 1.3rem;
}

header#header .slider {
  min-height: 280px;
  background-color: lightblue;
  background-image: url(assets/img/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

header#header .slider h4 {
  padding: 5px;
  padding: 12px;
  font-size: 2rem;
}

header#header .slider span {
  background-color: #fff;
  color: #000;
  border-radius: 10px 100px / 120px;
  padding: 1rem 4rem;
  margin-left: 50px;
  font-size: 1.5rem;
}

section#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 620px;
}

section#main h3 {
  padding: 8px;
  font-size: 1.5rem;
}

section#main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

section#main ul li {
  margin: 1rem;
  position: relative;
}

section#main ul li img {
  width: 180px;
  height: 140px;
}

section#main ul li span {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 1.4rem;
  padding: 0.3rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0000009e), color-stop(#0000009e), color-stop(#0000009e), color-stop(#0000009e), to(#ffffff00));
  background-image: linear-gradient(to top, #0000009e, #0000009e, #0000009e, #0000009e, #ffffff00);
}

section#main .popular-post {
  margin: 1rem 0.1rem;
  position: relative;
}

section#main .popular-post img {
  width: 580px;
}

section#main .popular-post .post-detile {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 2rem 1rem 2rem 1rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0000009e), color-stop(#0000009e), color-stop(#0000009e), color-stop(#0000009e), to(#ffffff00));
  background-image: linear-gradient(to top, #0000009e, #0000009e, #0000009e, #0000009e, #ffffff00);
}

section#main .popular-post .post-detile header {
  font-weight: bold;
  font-size: 2.7rem;
  font-family: Roboto;
}

section#main .popular-post .post-detile p {
  font-size: 1.4rem;
}

section#main .popular-post .post-detile span {
  border: 1px solid white;
  padding: 1rem;
  border-radius: 50px;
  background-color: white;
  color: black;
  font-weight: bold;
  position: absolute;
  visibility: hidden;
}

section#more-explore {
  width: 620px;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#d7e7ff), color-stop(#b7f2ff), color-stop(#a0fdfa), color-stop(#b1ffd3), to(#e4ffa7));
  background-image: linear-gradient(to left top, #d7e7ff, #b7f2ff, #a0fdfa, #b1ffd3, #e4ffa7);
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section#more-explore h3 {
  font-family: Rosario;
  font-weight: bold;
  padding: 8px;
  font-size: 1.5rem;
}

section#more-explore ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

section#more-explore ul li {
  margin: 0.6rem;
  position: relative;
  background-color: #fff;
  width: 194px;
}

section#more-explore ul li img {
  width: 100%;
  height: 140px;
}

section#more-explore ul li header {
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}

section#more-explore ul li p {
  text-align: center;
  padding: 0.2rem 1rem 1rem 1rem;
  font-weight: bold;
}

section#more-explore ul li span {
  color: black;
  position: absolute;
  right: 0;
  padding: 2px;
  background-color: white;
  border-radius: 50px;
  margin: 4px;
  width: 14px;
  height: 15px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 1rem;
  background-color: #fff;
  width: 620px;
}

footer hr {
  margin-top: 15px;
}

footer .footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-menu ul li {
  list-style: none;
  padding: 1rem 0.4rem;
}

footer .footer-menu ul li i {
  padding-right: 1px;
}

footer .footer-menu .footer-contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: center;
      align-content: center;
}
/*# sourceMappingURL=style.css.map */